#search {
    padding:20px;
    font-size:24px;
    align-self: center;
    border-radius:100px;
    width:100%;
    
}
.search-wrapper {
    margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	width: 100%;
	padding: 8px;
}